body{
    background: #EFEFEF;
    margin: 0;
}
a {
    /*取消a链接下划线*/
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
}
ul,ol {
    list-style: none;
}
hr {
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavbar {
    position: fixed;
    padding: 20px 0;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.topNavbar.sticky {
    background: white;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.topNavbar.sticky > nav > ul > li > a {
    color: black;
}
.topNavbar > .logo {
    display: inline-block;
    padding-left: 30px;
    font-family: Impact;
}
.logo > span {
    font-size: 30px;
    font-weight: bold;
}
.logo > .re {
    color: #3CCB78;
    margin-right: 5px;
}
.logo > .sume {
    color: #999DA2;
    
}
.topNavbar > nav {
    float: right;
    padding-top: 10px;
    padding-right: 15px;
}
.topNavbar > nav > ul > li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavbar > nav > ul > li > a {
    color: #EFEFEF;
    font-size: 14px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: relative;
}
.topNavbar > nav > ul > li.active > a::after,
.topNavBar > nav > ul > li.highlight > a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #06CB78;
    height: 3px;
    border-radius: 1px;
    animation: menuSlide .3s;
}
/**/
@keyframes menuSlide{
    0%{ width: 0; }
    100%{ width: 100%; }
  }
@keyframes slideUp{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}
.banner {
    height: 520px;
    background: url(../img/background.jpg);
    background-position: center center;
    background-size: cover;
}
.banner > .mask {
    height: 520px;
    background-color: rgba(0, 0, 0, 0.6);
}
main > .messageCard {
    background: #FFFFFF;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -380px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.messageCard > .cardInner {
    padding: 50px;
}
.messageCard > .cardInner > .head {
    float: left;
}
.messageCard > .cardInner > .head > img {
    height: 350px;
}
.messageCard > .cardInner > .text {
    float: left;
    margin-left: 65px;
    width: 460px;
}
.text > h1 {
    margin-top: 40px;
}
.text > p {
    color: #9da0a7;
}
.text > hr {
    margin-top: 30px;
}
.text > dl {
}
.messageCard > .cardInner > .text > dl > dt{
    float: left;
    width: 30%;
    margin-top: 20px;
}
.text > dl > dd {
    float: left;
    width: 70%;
    color: #9da0a7;
    margin-top: 20px;
}
.messageCard > .mediaContect {
    background: #3CCB78;
    text-align: center;
}
.messageCard > .mediaContect > a {
    display: inline-block;
    width: 40px;;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
    transition: all 0.5s;
}
.messageCard > .mediaContect > a:hover {
    background: #09B66C;
}

.messageCard svg {
    width: 25px;
    height: 25px;
    fill: white;
    vertical-align: top;
}
.downloadButton {
    text-align: center;
}
.downloadButton > .downloadPDF {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border: #CBCDCF solid 1px;
    background: #EFEFEF;
    border-radius: 2px;
    color: #3E4551;
    font-weight: bold;
    margin: 32px;
    transition: box-shadow 0.5s;
}
.downloadButton > .downloadPDF:hover {
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
}
.downloadExplain {
    text-align: center;
    color: #9da0a7;
}
.skills,
.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* border: red solid 1px; */
}
.skills > h2,
.portfolio > h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}
.skills h3 {
    font-size: 14px;
    line-height: 1.1;
}
.skills > ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}
.skills > ol > li {
    float: left;
    width: 50%;
    box-sizing: border-box;/*该属性使得宽度100%算在border里面*/
    padding-right: 40px;
}
/* .skills > ol > li:nth-child(even) {
    float: right;
} */
.skills .percentBar {
    height: 5px;
    background: #D2F4E5;
    border-radius: 2px;
    margin: 5px 0 40px;
}
.skills .percentBar > .percent {
    height: 5px;
    background: #06CB78;
    border-radius: 2px;
}
.skills .percentBar > .html {
    width: 90%;
}
.skills .percentBar > .jquery {
    width: 80%;
}
.skills .percentBar > .vue {
    width: 65%;
}
.skills .percentBar > .http {
    width: 70%;
}
.skills .percentBar > .javascript {
    width: 80%;
}
.portfolio > ul {
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    background: #ffffff;
}
.portfolio > .selectionBar {
    /* border: green solid 1px; */
    margin-top: 35px;
    text-align: center;
    background: #41445B;
    color: #FFFFFF;
}
.portfolio > .selectionBar > .checked {
    background: #3CCB77;
    font-size: 16px;
}
.portfolio > .selectionBar > li {
    display: inline-block;
    padding: 20px 20px;
    font-size: 14px;
    cursor: pointer;
}
.portfolio > .content > li{
    padding: 80px;
    display: none;
    background: #FFFFFF;
}
.content > li > .intro {
    float: left;
    width: 380px;
}
.demoPicture {
    margin-left: 380px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.demoPicture > img {
    width: 400px;
    height: 300px;
}
#content > .active {
    display: block;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
@keyframes s{
    0%{ width: 0px; height: 0px; opacity: 1; }
    100%{ width: 100px; height: 100px; opacity: 0; }
}
/*[data-x].active{*/
    /*outline: 10px solid red;*/
/*}*/
/*[data-x].offset{*/
    /*transform: translateY(200px);*/
/*}*/
/*[data-x]{*/
    /*transform: translateY(0);*/
    /*transition: all 1s;*/
/*}*/